#map {
    width: 60%;
    height: 450px;
    margin: 0 auto;
    border-radius:25px;
    margin-bottom: 3%;
}
div#container{
    margin: 0 auto;
}
div#container_flags_field_users {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3%;
}
.flag-container{
    display: contents;
}

.section_flags{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    flex-direction: column;
}

img#img_flag{
    padding: 8px;
}

img#earth_img{
    margin:0 auto;
}

@media (max-width: 768px) {
    #map {
        width: 100%;
        height: 427px;
        display: flex !important;

    }
    .block_ideal_users_map {
        display: flex;
        align-items: stretch;
    }

}